/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply cho những chữ cái  */
/* sans-serif được sử dụng khi trên máy ko có 2 font kia, tự động tìm những font chữ không chân */
html { 
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav .icon-down {
    font-size: 8px;
}

#header .search-btn{
    padding: 12px 21px;
    float: right;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;

}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}


#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}


#nav > li{
    display: inline-block;
    margin: 0 -2px;
}

#nav li{

    position: relative;
}


#nav > li > a{
    text-transform: uppercase;
    display: block;
    color: #fff;
}

#nav li a{
    text-decoration: none;
    line-height: 46px; /* chiều cao của dòng chữ và chữ luôn nằm giữa chiều cao của chính nó */
    padding: 0 24px;
    display: inline-block;  
}

#nav li:hover .subnav {
    display: block; 
}

#nav .subnav li:hover,
#nav > li:hover > a{ /*hover vào li kế thừa cho thẻ a */
    color: #000;
    background-color: #ccc;
}


#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a{
    line-height: 38px;
    padding: 0 16px;
    color:#000;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* tỉ lệ theo chiều ngang của chính nó */
    background: url('/w3_band/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

.text-content {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

.text-heading {
    font-weight: 500;
    font-size: 24px;
}

.text-description {
    font-size: 15px;
    margin-top: 25px;
}



#content {
    height: 500px;
}

#footer {

}
